<div id="fixtures" class="container row">
  <% data["rounds"].forEach(function(round) { %>
    <div class="col-12 col-md-6 mb-3" id="round_<%= round.round %>">
      <h2>Jornada <%= round.round %></h2>

      <% round.matches.forEach(function(match) { %>
        <div class="row">
          <div class="col-5 text-end"><%= match.teams[0] %></div>
          <div class="col-1">🆚</div>
          <div class="col-5 text-start"><%= match.teams[1] %></div>
        </div>
      <% }); %>
    </div>
  <% }); %>
</div>
