<header id="header">
  <nav class="header navbar navbar-light bg-dark-subtle">
    <div class="container">
      <div class="navbar-brand">
        <img src="/images/achobbl.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="d-none d-sm-inline">Achobbl</span>
      </div>
      <a class="navbar-brand btn btn-light" href="/">
        <i class="bi bi-calendar3"></i>
        <span class="d-none d-sm-inline">Jornadas</span>
      </a>
      <a class="navbar-brand btn btn-light" href="/utils">
        <i class="bi bi-wrench-adjustable-circle"></i>
        <span class="d-none d-sm-inline">Utilidades</span>
      </a>
      <a class="navbar-brand btn btn-light" href="/classification">
        <i class="bi bi-graph-up"></i>
        <span class="d-none d-sm-inline">Clasificación</span>
      </a>
      <button class="navbar-brand dropdown btn btn-light">
        <div class="dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-people-fill"></i>
          <span class="d-none d-sm-inline">Equipos</span>
        </div>
        <ul class="dropdown-menu dropdown-menu-end">
          <% teams.forEach(function(team) { %>
            <li><a class="dropdown-item" href="/teams/<%= team["url"] %>"><%= team["name"] %></a></li>
          <% }); %>
        </ul>
      </button>
    </div>
  </nav>
</header>
